.background {
  height: 100vh;
  width: 100vw;
  background-image: url('/public/got.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-doors {
  height: 100vh;
  width: 100vw;
  background-image: url('/public/doors.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

